<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <!--配置目标类-->
    <bean id="customerDao" class="com.njupt.aspectj.demo2.CustomerDaoImpl"/>
    <!--配置切面类-->
    <bean id="myAspectXml" class="com.njupt.aspectj.demo2.MyAspectXml"/>

    <!--aop的相关配置-->
    <aop:config>
        <!--配置切入点，相当于value的值-->
        <aop:pointcut id="pointcut1" expression="execution(* com.njupt.aspectj.demo2.CustomerDao.save(..))"></aop:pointcut>
        <!--配置aop的切面,相当于类上方的@Aspect-->
        <aop:aspect ref="myAspectXml">
            <!--配置切面的信息，相当于@Before(value="...")-->
            <aop:before method="before" pointcut-ref="pointcut1"/>
        </aop:aspect>
    </aop:config>
</beans>